@import 'normalize';
@import 'assets';
@import 'menu';
@import 'animation';
@import 'typography';


@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Noto+Sans+JP:100,300,400,500,700');
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

html{
  overflow-x:hidden;
  scroll-behavior: smooth;
}
body {
  display: grid;
  
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  color: $text;
  background: $body;
  width: 100vw;
  grid-template-columns: 1em 1fr 1em;
  grid-template:
    "landing landing landing"
    " about about about "
    " skills skills skills"
    " contact contact contact "
    "footer footer footer"
  ;
}

@media (max-width: 850px){
  body{
    background: $body;
    grid-template:
    "landing landing landing"
    " about about about"
    " skills skills skills"
    "contact contact contact"
    "footer footer footer"
  ;
  }
}

.jumbotron {
  grid-area: landing;
}

.about {
  grid-area: about;
}

.skills {
  grid-area: skills;
}

.contact {
  grid-area: contact;
}

footer {
  grid-area: footer;
}

.container {
  display: flex;
  height: inherit;
  width: 100vw;
  justify-content: center;
  background: $body;
  -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
    overflow: hidden;
}

.content {
display: flex;
flex-direction: column;
background: $body;
}
.content-row {
  display: flex;
  flex-direction: row;
  background: $body;
}
@media (min-width:851px){
  .content{
    min-width: 850px;
    max-width: 1200px;
    flex-direction: column;
  }
  .left-image-mobile{
    display: none;
  }
  .content-row{
    min-width: 850px;
    max-width: 1200px;
    flex-direction: row;
  }
}
@media (max-width:851px){
  .content{
    width: 100vw;
    flex-direction: column;
  }
  .left-image{
    display: none;
  }
}
@media (max-width:815px){
  .content{
    width: 100vw;
    flex-direction: column;
    justify-content: center;
  }
  .content-reverse{
    width: 100vw;
    flex-direction: column-reverse;
    justify-content: center;
  }
}

.row-3 {
  grid-template-rows: repeat(3, 33.3%);
}

.row-4 {
  grid-template-rows: repeat(4, 25%);
}

.row-5 {
  grid-template-rows: repeat(5, 20%);
}

.row-6 {
  grid-template-rows: repeat(6, 16.6%);
}

.row-7 {
  grid-template-rows: repeat(7, 14.2%);
}

// 
// jumbotron
.jumbotron {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.31'%3E%3Cpolygon fill='%23efe9f1' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23e1d7e3' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23d1c2d3' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23c1aac2' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23af8fb0' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%239c6e9b' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23853c83' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  border-radius: 1px;
  background-color: #fcfbff;
  background-size: cover;
  background-position: center;


  .display-1 {
    font-weight: 300;
  }
}

// about
.about {
  margin-top: 5vh;
 
  height: 40vw;
}
@media (max-width:850px){
  .about {
    height: 150vh;
    margin: 0 0 !important; 
  }
  .text-right {
    justify-content: flex-start;
  }
  .text-right {
    justify-content: flex-start !important;
    height: fit-content;
    flex: 0 !important;
  }
}
@media (max-width:821px){
  .text-right {
    height: fit-content;
    flex: 0;
  }
}
.text-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex:3;
  margin-left: 5%;
  margin-right: 5%;
  -webkit-margin-after:10vh;
}

.left-image {
  flex: 3;
  background: url("../assets/images/my-image.jpg");
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-size: contain;
  background-position:center;
  
}
  @media (max-width:720px){
.left-image-mob{
  height: 75vh;
  flex: 3;
  margin-top:-10vh;
  margin-bottom: -50vh;
  -webkit-margin-after:-50vh;
  background: url("../assets/images/my-image.jpg");
  background-position: center;
  width:100%;
  height: 80vh;
  border-radius: 20px;
  -webkit-clip-path: polygon(100% 58%, 50% 47%, 0 58%, 0 34%, 50% 22%, 100% 33%);
  clip-path: polygon(100% 58%, 50% 47%, 0 58%, 0 34%, 50% 22%, 100% 33%);
}
  }
@media (min-width:721px)and(max-width:850px){
  .left-image-mob{
    height: 80vh;
    width: 100vw;
    margin-top:-10vh;
  margin-bottom: -50vh;
  -webkit-margin-after:-50vh;
    flex: 3;
  background: url("../assets/images/my-image.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    -webkit-clip-path: polygon(100% 58%, 50% 47%, 0 58%, 0 34%, 50% 22%, 100% 33%);
    clip-path: polygon(100% 58%, 50% 47%, 0 58%, 0 34%, 50% 22%, 100% 33%);
  }
}

// skills

.card-box {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  .tab-prog, .tab-tool, .tab-skill{
    display: flex;
    margin: 1em 0 0 0;
    flex-direction: column;
    text-align: center;
    border: 1px solid $accents;
    border-top: none;
      h3{
        margin: 0;
        border: 1px solid $accents;
        border-left: none;
        border-right: none;
      }
  }
}
.skill-detailed {
  margin: 0 1em;
}
.projects {
  width: 100%;
  margin-top: 10vh;
  margin-bottom: 20vh; 
  .tab-1, .tab-2, .tab-3{
    display: flex;
    margin: 2em 1em 0 1em;;
    flex-direction: column;

    text-align: center;
    border: 1px solid $accents;
    border-top: none;
      h3{
        margin: 0;
        border: 1px solid $accents;
        border-left: none;
        border-right: none;
      }
  }
}
//Tablet skills and projects
@media (min-width:721px)and (max-width:850px){
  .card-box {
    width: 100vw;
    display: flex;
    flex-direction: row;
    .tab-prog, .tab-tool, .tab-skill{
      display: flex;
      
      margin: 0 auto;
      width: 30%;
      flex-direction: column;
      text-align: center;
      border: 1px solid $accents;
      border-top: none;
        h3{
          margin: 0;
          border: 1px solid $accents;
          border-left: none;
          border-right: none;
        }
    }
  }


.projects {
  
  width: 100vw;
  .tab-1, .tab-2, .tab-3{
    display: flex;
    width: 45vw;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    border: 1px solid $accents;
    border-top: none;
      h3{
        margin: 0;
        border: 1px solid $accents;
        border-left: none;
        border-right: none;
      }
  }
}
// end of media-tag
}

@media (min-width:851px){
  .skills{
    margin-top: 20vh;
  } 
  .card-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    .tab-prog, .tab-tool, .tab-skill{
      display: flex;
      width: 100% !important;
      margin: 0 ;
      width: 30%;
      flex-direction: column;
      text-align: center;
      border: 1px solid $accents;
      border-top: none;
        h3{
          margin: 0;
          border: 1px solid $accents;
          border-left: none;
          border-right: none;
        }
    }
  }
  .skill-detailed {
    margin: 0 10%;
  }

.projects {
  
  width: 100%;
  .tab-1, .tab-2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 500px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    text-align: left;
    border: 1px solid $accents;
    border-top: none;
      h3{
        margin: 0;
        text-align: center;
        border: 1px solid $accents;
        border-left: none;
        border-right: none;
      }
      p {
        margin: 0 .5em;
      }
      a {
        margin-top: 1em;
        text-align: center;
      }
  }
}
// end of media-tag
}




  // end of tag
